block footer 
  footer#main-footer
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark#footer-nav
      div.navbar-collapse 
        ul.navbar-nav 
          li.nav-item 
            a.nav-link(href="https://www.linkedin.com/in/ccollins1544/", target="_blank", rel="noopener noreferrer")
              i.fab.fa-linkedin.fa-2x
          li.nav-item 
            a.nav-link(href="https://dev.to/ccollins", target="_blank", rel="noopener noreferrer")
              i.fab.fa-dev.fa-2x
          li.nav-item 
            a.nav-link(href="https://ccollins1544.github.io/", target="_blank", rel="noopener noreferrer")
              i.fab.fa-github.fa-2x

    div#footer-bottom   
      div#footer-info 
        | Copyright © 2020 | 
        a.footer-link(href=".")
          | #{site_title}
        a.footer-link(href="https://github.com/ccollins1544/cc-rest-api", target="_blank" rel="noopener noreferrer")
          |  
          i.fad.fa-brackets-curly


