block header 
  header#main-header 
    div.container-fluid.clearfix 
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark#main-nav 
      a.navbar-brand.mb-0.h1(href=".")
        i.fad.fa-laptop-code 
        |  #{site_title}
      
      div.collapse.navbar-collapse.show 
        ul.navbar-nav.ml-auto 
          if login
            li.nav-item 
              a.nav-link#logout(href="/logout")
                | #{username}
                |  
                i.fad.fa-sign-out-alt 
          else 
            li.nav-item 
            a.nav-link(href="/login")
              i.fad.fa-sign-in-alt 