extends layout

block content
  div.col-12
    ul.list-group.list-group-horizontal
      li.list-group-item.list-group-item-primary 
        strong#clock Loading ...
      li.list-group-item.list-group-item-primary
        strong IssuedAt: 
        span#iat #{iat}
      li.list-group-item.list-group-item-primary
        strong Expires: 
        span#exp #{exp}
      li.list-group-item.list-group-item-primary
        strong Time Remaining: 
        - var time_remaining = (exp - iat) / 60 
        span#time_remaining #{time_remaining} minutes

    div.row.section-block
      div.card.bg-dark.col-12.pb-3
        div.card-header.text-white.d-flex.justify-content-between 
          div
            if fa_script 
              i.fas.fas.fa-server.mr-2
            span Available Routes
          
        div.card-body.bg-dark
          table.table.table-striped.table-dark
            thead 
              tr 
                th Path
                th Method 
                th.text-left Description
            tbody
              tr
                td /
                td GET
                td.text-left This page.
              tr
                td /login
                td GET
                td.text-left Login page.
              tr
                td /login
                td POST
                td.text-left Send username and password and creates new token if valid. 
              tr
                td /logout
                td DELETE
                td.text-left Destroys your session. For logging out. 

