extends layout

block content
  div.col-lg-12.mx-auto
    div.card.bg-dark
      div.card-header
        h2= page_title
        span#clock.text-white
      div.card-body.bg-dark
        if logged_in 
          p.text-white Hi #{email}! Looks like you're already logged in!
          a(href="/")
            button.btn.btn-dark
              if fa_script 
                i.fas.fa-home
              else 
                | Home 
        else 
          form#login-form
            div.form-group.row
              label.col-sm-4.form-label.text-white.text-right(for="email") Email: 
              div.col-sm-8.input-group 
                input.form-input#email(type="text", name="email", placeholder="Email", autocomplete="chrome-off")
            div.form-group.row
              label.col-sm-4.form-label.text-white.text-right(for="password") Password: 
              div.col-sm-8.input-group 
                input.form-input#password(type="password", name="password", placeholder="password", autocomplete="chrome-off")
            div.form-group.row.hidden#confirm_password_row
              label.col-sm-4.form-label.text-white.text-right(for="confirm_password") Confirm Password: 
              div.col-sm-8.input-group 
                input.form-input#confirm_password(type="password", name="confirm_password", placeholder="confirm password", autocomplete="chrome-off")
            div.form-group.row
              span.col-sm-12.input-group-btn.text-right 
                button.btn.btn-dark.form-input(type="submit")
                  if fa_script 
                    i.fas.fa-user
                  |  #{page_title}
            div.form-group.row 
              p.col-12.text-white Dont have an account? 
                a#toggle_signup.accent-text Sign Up



            